#time{
    float:right;

}

#Highscores{
    float:left;
    display: flex;
}


.Test{
    display:inline-block;
    margin-left: 60px;
    margin-top: 100px;
    flex-wrap: wrap;
}

.Style{
    border-radius: 10px;
    background-color:rgb(77, 6, 77);
    color:white;
    display: flex;
    
}
.Style1{
    border-radius: 10px;
    background-color:rgb(77, 6, 77);
    color:white;
    display: flex;
    
}

.position{
    display: inline-block;
    flex-direction: column

}

.hide{
    display:none;
}

.hide1{
    display:none;
}

#hide2{
    display:none;
}

#On{
    display: inline-block;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 100px;

}