#time{
    float:right;
    display: flex;

}

#Highscores{
    display: inline-block;
    background-color: white;
    color:purple;
    border-color: white;
    font-size: 30px;
}


.Test{
    display:inline-block;
    margin-left: 250px;
    margin-top: 100px;
    flex-wrap: wrap;
}

.Style{
    border-radius: 10px;
    background-color:rgb(77, 6, 77);
    color:white;
    display: flex;
    
}
.Style1{
    border-radius: 10px;
    background-color:rgb(77, 6, 77);
    color:white;
    display: flex;
    
}
.Question{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.position{
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;

}

#hide{
    display:none;
}

.hide1{
    display:none;
}

.hide2{
    display:none;
}

.hide3{
    display: none;
}

#On{
    display: inline-block;
    flex-direction: column;
    margin-left: 250px;
    margin-top: 100px;

}

hr{
    border: 1px solid grey;
}

.Show{
    display: inline-block;
    flex-direction: column;
    margin-left: 250px;
    margin-top: 100px;
}

#save{
    border-radius: 10px;
    background-color:rgb(77, 6, 77);
    color:white;
    display: flex;
}

#initials{
    background-color: black;
    color:white
}

.Show1{
    display: inline-block;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 100px;
}